.page-header{
    background: #0d47a1;
    background-image: url('media/bg.png');
    background-size: cover;
    background-position: top center;
}
.viewdata{
    background: #0d47a1;
    background-image: url('media/bg.png');
    background-size: cover;
    background-position: top center;
}