.page-header{
    background-size: cover;
    background: #0d47a1 url('media/bg.png') top center;
}
.img-container{
    border-radius: 5px;
}
#label-video{
    width: 20%;
    display: block;
    text-align: center;
}
video{
    margin: auto;
}
